# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/

# Build nativo
android/
ios/

# Sistema
.DS_Store
Thumbs.db
*.log

# Ambiente
.env
.env.local

# EAS Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
google-service-account.json

# Arquivos sensíveis
credentials.json
service-account-*.json
